@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;

}

body, html{ 
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{ 
    background-color: grey;
    padding: 10px;
     display: flex;
    justify-content: space-between;
    align-items: center;


    
}
header h1{
    color: white;
}
 header div{ 
    
    
}
header div i{  
    text-align: center; 
    font-size: 4vw;
    color: white;
    flex: auto;
}

menu{background-color:grey ;  
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-content: center;
    display: none;
   
   

}
menu div.items{ 
    
    flex:auto; 
    text-align: center;
    padding: 5px;
    
}